Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.
Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
Q-3. Write an SQL query to show the last 5 record from a table.



- For MySQL: SELECT * FROM table_name ORDER BY id DESC LIMIT 5;
- For Oracle: SELECT * FROM (SELECT * FROM table_name ORDER BY id DESC) WHERE ROWNUM <= 5;
- For SQL Server: SELECT TOP 5 * FROM table_name ORDER BY id DESC;
- For PostgreSQL: SELECT * FROM table_name ORDER BY id DESC LIMIT 5;
- For SQLite: SELECT * FROM table_name ORDER BY id DESC LIMIT 5;