Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
Q-20. Write an SQL query to fetch the list of employees with the same salary.

Q-19. SQL query to determine the 5th highest salary without using TOP or limit method:

```
SELECT DISTINCT Salary
FROM Employee Emp1
WHERE 5 = (
   SELECT COUNT(DISTINCT Salary)
   FROM Employee Emp2
   WHERE Emp2.Salary >= Emp1.Salary)
```

Q-20. SQL query to fetch the list of employees with the same salary:

```
SELECT Emp1.Name, Emp1.Salary
FROM Employee Emp1
INNER JOIN Employee Emp2
ON Emp1.Salary = Emp2.Salary
WHERE Emp1.ID <> Emp2.ID
```