Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.
 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.
Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Q-1. SQL query to print the first three characters of FIRST_NAME from Worker table:
```
SELECT SUBSTRING(FIRST_NAME, 1, 3) AS WORKER_NAME FROM Worker;
```

Q-2. SQL query to find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table:
```
SELECT INSTR('Amitabh', 'a') AS POSITION_OF_A;
```

Q-3. SQL query to print the name of employees having the highest salary in each department:
```
SELECT w.DEPARTMENT, w.FIRST_NAME, w.LAST_NAME, w.SALARY
FROM Worker w
WHERE (w.DEPARTMENT, w.SALARY) IN (
    SELECT DEPARTMENT, MAX(SALARY)
    FROM Worker
    GROUP BY DEPARTMENT
);
```