Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.
Q-3. Write an SQL query to fetch nth max salaries from a table.

Q-1. SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side:

```
SELECT RTRIM(FIRST_NAME) AS WORKER_NAME FROM Worker;
```

Q-2. SQL query to fetch the unique values of DEPARTMENT from Worker table and print its length:

```
SELECT COUNT(DISTINCT DEPARTMENT) AS DEPT_COUNT FROM Worker;
```

Q-3. SQL query to fetch nth max salaries from a table:

```
SELECT DISTINCT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;
```
Note: Replace "n" with the desired value of "n" to fetch the nth maximum salary.