Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.
Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.
Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

Q-1. SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’:

```SQL
SELECT REPLACE(FIRST_NAME, 'a', 'A') AS FIRST_NAME_MODIFIED
FROM Worker;
```

Q-2. SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending:

```SQL
SELECT * FROM Worker
ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;
```

Q-3. SQL query to fetch the names of workers who earn the highest salary:

```SQL
SELECT FIRST_NAME, LAST_NAME
FROM Worker
WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);
```