Q-1. Write an SQL query to print details of the Workers who have joined in Feb’2014.
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.
Q-3. How to remove duplicate rows from Employees table.

Q-1. To print details of the Workers who have joined in Feb’2014:
```
SELECT * FROM Workers WHERE JOIN_DATE LIKE '2014-02%';
```

Q-2. To fetch duplicate records having matching data in some fields of a table:
```
SELECT field1, field2, field3, COUNT(*) as Count
FROM table_name
GROUP BY field1, field2, field3
HAVING COUNT(*) > 1;
```

Q-3. To remove duplicate rows from the Employees table:
```
DELETE FROM Employees 
WHERE ROWID NOT IN (SELECT MIN(ROWID) 
                    FROM Employees 
                    GROUP BY column1, column2, ...);
```
Note: Replace "column1, column2, ..." with the actual column names in the table.