Q-15. Write an SQL query to fetch intersecting records of two tables.
Q-16. Write an SQL query to show records from one table that another table does not
have.

Q-15. Write an SQL query to fetch intersecting records of two tables.

To fetch intersecting records of two tables, we can use the INNER JOIN clause. The INNER JOIN clause returns only the records that have matching values in both tables.

Syntax:

```
SELECT column1, column2, ...
FROM table1
INNER JOIN table2
ON table1.column = table2.column;
```

For example, let's say we have two tables "table1" and "table2" with columns "id" and "name". To fetch intersecting records of both tables, we can use the following query:

```
SELECT table1.id, table1.name
FROM table1
INNER JOIN table2
ON table1.id = table2.id;
```

This query will return all the records from "table1" where the id value exists in both "table1" and "table2".


Q-16. Write an SQL query to show records from one table that another table does not have.

To show records from one table that another table does not have, we can use the LEFT JOIN clause. The LEFT JOIN clause returns all the records from the left table and the matching records from the right table. If there is no matching record in the right table, it returns NULL.

Syntax:

```
SELECT column1, column2, ...
FROM table1
LEFT JOIN table2
ON table1.column = table2.column
WHERE table2.column IS NULL;
```

For example, let's say we have two tables "table1" and "table2" with columns "id" and "name". To show records from "table1" that do not exist in "table2", we can use the following query:

```
SELECT table1.id, table1.name
FROM table1
LEFT JOIN table2
ON table1.id = table2.id
WHERE table2.id IS NULL;
```

This query will return all the records from "table1" where the id value does not exist in "table2".